@font-face {
  src: local('Montserrat-Light'), url('./assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-family: 'Montserrat';
  font-weight: 300;
}

@font-face {
  src: local('Montserrat-Regular'), url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-family: 'Montserrat';
  font-weight: 400;
}

@font-face {
  src: local('Montserrat-Medium'), url('./assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-family: 'Montserrat';
  font-weight: 500;
}

@font-face {
  src: local('Montserrat-SemiBold'), url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-family: 'Montserrat';
  font-weight: 600;
}

@font-face {
  src: local('Montserrat-Bold'), url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-family: 'Montserrat';
  font-weight: 700;
}

.os-theme-dark.os-custom, .os-theme-light.os-custom {
  --os-size: 8px;
  --os-padding-perpendicular: 0px;
  --os-padding-axis: 0px;
  --os-track-border-radius: 0px;
  --os-handle-border-radius: 0px;
}

.os-theme-dark.os-custom {
  --os-handle-bg: rgba(0, 0, 0, 0.16);
  --os-handle-bg-hover: rgba(0, 0, 0, 0.24);
  --os-handle-bg-active: rgba(0, 0, 0, 0.32);
}

.os-theme-light.os-custom {
  --os-handle-bg: rgba(255, 255, 255, 0.16);
  --os-handle-bg-hover: rgba(255, 255, 255, 0.24);
  --os-handle-bg-active: rgba(255, 255, 255, 0.32);
}

:root {
  --svg-shape-fill: black;
  --svg-shape-stroke: #4b4b4b;
  --svg-text-fill: white;
  --svg-accent-fill: #4b4b4b;
  --svg-highlight-fill: white;
  --svg-content-fill: #0f0f0f;
  --svg-link-stroke: #ffffff;
}

[data-theme="light"] {
  --svg-shape-fill: white;
  --svg-shape-stroke: #9e9e9e;
  --svg-text-fill: #283646;
  --svg-accent-fill: #9e9e9e;
  --svg-highlight-fill: white;
  --svg-content-fill: #d0d0d0;
  --svg-link-stroke: #000000;
}

.svg-shape-fill {
  fill: var(--svg-shape-fill);
}

.svg-shape-stroke {
  stroke: var(--svg-shape-stroke);
}

.svg-accent-fill {
  fill: var(--svg-accent-fill);
}

.svg-highlight-fill {
  fill: var(--svg-highlight-fill);
}

.svg-content-fill {
  clip-path: rect(0 100% 100% 0 round 0 0 7.25px 7.25px);
  fill: var(--svg-content-fill);
}

.bold-svg-text {
  fill: var(--svg-text-fill);
}

.tool-button-bg {
  fill: var(--svg-shape-fill);
}

.joint-link path.connection,
.joint-link path.connection-wrap {
  stroke: var(--svg-link-stroke) !important;
}